body, html {
    object-fit: cover;
    font-family: 'Roboto';
}
.flex-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1366px;
}
header {
    background-color: #BF5B5B;
    padding: 20px 30px 20px 0;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    z-index: 10; 
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    gap: 70px;
    padding: 0 30px 0 0;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 118%;
    text-decoration-line: underline;
}
.hero,
.top-section .paragraph,
.bottom-section .paragraph,
#icon1,
.footerfirst {
    background-color: #394149;
}
.container {
    display: flex;
    justify-content: space-between;
    min-height: 483px;
}
.img-comand {
    background-image: url(/img/cta-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    flex: 1;
    margin-left: 32px;
}
.description  {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    justify-content: center;
    margin-right: 32px;
}
.description p {
    font-weight: 500;
    font-size: 24px;
    line-height: 118%;
    color: #FFFFFF;
    padding: 0 40px;
}
.description button {
    align-self: flex-start;
    padding: 25px 44px;
    margin-left: 40px;
    font-weight: 800;
    font-size: 24px;
    line-height: 118%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #BF5B5B;
}
p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 118%;
    padding: 0 30px;
}
.black {
    color: #1E1E1E;
}
.top-section {
    background-color: #BF5B5B;
}
.bottom-section,
.bottom-section .wrapper1 .paragraph {
    background-color:  #3CABA4;
}
.top-section .bottom-content .paragraph {
    background-color: white;
}
.wrapper1,
.wrapper2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.wrapper1 {
    margin-left: 32px;
}
.wrapper2 {
    margin-right: 32px;
}
.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.top-content,
.bottom-content {
    display: flex;
    height: 242px;
}
.image, .icon, .cozyparagraph {
    flex: 1;
}
.paragraph {
    flex: 2;
}
.img1 {
    background-image: url(/img/cover-photo.png);
}
.img2 {
    background-image: url(/img/cover-sm.png);
}
.img3 {
    background-image: url(/img/Rectangle\ 1.png);
}
.img4 {
    background-image: url(/img/sunset.png);
}
.img5 {
    background-image: url(/img/city.png);
}
.img6 {
    background-image: url(/img/grill.png);
    background-blend-mode: lighten;
}
.img7 {
    background-image: url(/img/photo.png);
}
.img8 {
    background-image: url(/img/portrait.png);
}
.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cozyparagraph,
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
}
.footerfirst {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-logo {
    margin-top: 51px;
}
footer p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
.footer-social img {
    width: 30px;
    height: 30px;
    padding: 12px 20px;
}
.footersecond {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px;
    min-height: 120px;
} 
@media  screen and (max-width: 650px) {
    .navbar ul {
        display: none;
    }
    .container {
       flex-direction: column;
    }
    .img-comand {
       min-height: 350px;
    }
    .description button {
        padding: 12px 24px;
        margin-bottom: 16px;
        font-size: 18px;
    }
}  

  
  
   
    
 

