body,
html {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}
* {
    box-sizing: border-box;
}
.layout {
    display: grid;
    grid-template-areas: 
    "navigation header"
    "navigation h-content";
    grid-template-columns: 245px auto;
    grid-template-rows: 186px auto;
    height: 100%;
}
.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 46px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.navigation__logo {
    padding-left: 18px;
}
.navigation__container {
    flex: 1;
}
.navigation__link {
    text-decoration: none;
    display: flex;
    height: 46px;
    color: rgba(77, 77, 77, 1);
    align-items: center;
    padding: 0 18px;
    gap: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
}
.navigation__link-image {
    width: 22px;
    height: 22px;
    background-color: rgba(77, 77, 77, 1);
}
.navigation__link-image--arrow {
    -webkit-mask: url(/icon/arrow.svg) no-repeat center / contain;
}
.navigation__link-image--lightning {
    -webkit-mask: url(/icon/lightning.svg) no-repeat center / contain;
} 
.navigation__link-image--people {
    -webkit-mask: url(/icon/people.svg) no-repeat center / contain;
}
.navigation__link-image--lamp {
    -webkit-mask: url(/icon/lamp.svg) no-repeat center / contain;
}
.navigation__link-image--settings {
    -webkit-mask: url(/icon/settings.svg) no-repeat center / contain;
}
.navigation__link-image--vector {
    -webkit-mask: url(/icon/Vector.svg) no-repeat center / contain;
}
.navigation__link--active .navigation__link-image {
    background-color: rgba(27, 89, 245, 1);
}

.navigation__link--active {
    border-radius: 10px;
    background-color: rgba(27, 89, 249, 0.1);
    color: rgba(27, 89, 245, 1);
   
}
.link--active img {
    background-color: rgba(27, 89, 245, 1);
    padding-left: 18px;
}

.navigation__heading {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    
}
.navigation__container .navigation__heading {
    margin-top: 58px;
    margin-bottom: 18px;
    margin-right: 0;
    margin-left: 18px;
}
.navigation__account {
    border-top: 1px solid #e5e5e5;
    padding: 32px 18px 0 18px;
}
.navigation__footer {
    margin-bottom: 0;
}
.navigation__paragraph {
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
}

.header {
    grid-area: header;
}
.h-content {
    grid-area: h-content;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    gap: 32px;
    margin-left: 44px;
    margin-right: 50px;
}
.header-container:last-child {
    border-bottom: none;
    height: 86px;
}
.header-container-main {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header-menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 3px;
    background: #F0F2F5;
}

.header-menu-button {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    padding: 14px 28px;
    text-decoration: none;
}
.header-menu-button-active {
    color: #1B59F8;
    background: #ffffff;
    border: 1px solid #F0F2F5;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.header-button {
    background: #ffffff;
    color: #1B59F8;
    border: 1px solid #F0F2F5;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 14px 16px;
    font-size: 14px;
}
.icon-plus {
    display: inline-block;
    background-color: #1B59F8;
    width: 12px;
    height: 12px;
    -webkit-mask: url(/icon/plus.svg) no-repeat center / contain;
    margin-right: 3px;
}
.search-bar,
.secondary-button {
    color: #494949;
}
.secondary-button {
    font-size: 14px;
}
.icon-view {
    display: inline-block;
    background-color: #494949;
    width: 12px;
    height: 12px;
    -webkit-mask: url(/icon/viewtable.svg) no-repeat center / contain;
    margin-right: 3px;
}
.icon-search {
    display: inline-block;
    background-color: #494949;
    width: 22px;
    height: 22px;
    -webkit-mask: url(/icon/search.svg) no-repeat center / contain;
    
}
.search-input {
    border: none;
    background-color: transparent;
    padding: 14px 12px;
}
.search-input::placeholder {
    font-size: 18px;
    color: #494949;
}
.h-content-container {
    display: grid;
    grid-gap: 24px 29px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 44px;
}
.h-content-card {
    width: 250px;
    height: 230px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h-content-card--plus {
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
}
.h-content-card-icon {
    width: 40px;
    height: 40px;
    background: #E8EEFE;
    border-radius: 39px;
    position: relative;
}
.h-content-card-icon .icon-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-card-heading--black {
    color: rgba(0, 0, 0, 0.7);
    margin: 26px 0 14px 0;
}
.h-content-card--link {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
}
.h-content-card--5 {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
    background: url(/img/Blur.svg) no-repeat center / cover; 
}
.h-content-card--1 {
    background: -webkit-linear-gradient(45deg, #e570e7 0%,#753867 47%,#a849a3 100%); 
}
.h-content-card--2 {
    background: -webkit-linear-gradient(-45deg, #202074 0%,#202074 100%); 
}
.h-content-card--3 {
    background: -webkit-linear-gradient(45deg, #7d7e7d 0%,#0e0e0e 100%);
}
.h-content-card--4 {
    background: -webkit-linear-gradient(45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); 
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.h-content-card--6 {
    background: -webkit-linear-gradient(45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%);
}
.h-content-card--7 {    
    background: -webkit-linear-gradient(45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); 
}
.h-content-card--8 {
    background: -webkit-linear-gradient(45deg, rgba(167,176,189,1) 0%,rgba(120,131,140,1) 36%,rgba(38,49,56,1) 100%);
}
.h-content-card--9 {
    background: -webkit-linear-gradient(top, rgba(224,179,108,1) 0%,rgba(158,122,64,1) 50%,rgba(138,106,56,1) 51%,rgba(210,168,100,1) 100%);
}
.h-content-card--10 {
    background: -webkit-linear-gradient(45deg, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
}
.h-content-card--11 {
    background: -webkit-linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(117,34,1,1) 15%,rgba(140,51,16,1) 50%,rgba(191,110,78,1) 100%)
}
.h-content-card--image {
    border-radius: 10px;
    height: 94px;
    width: 224px; 
    margin: 14px;
    object-fit: contain;
}
.h-content-card--image--1 {
    background: url(/img/Artwork.svg) no-repeat center / cover;
   
}
.h-content-card--image--2 {
    background: url(/img/2.svg) no-repeat center / cover;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}
.h-content-card--image--3 {
    background: url(/img/3.svg) no-repeat center / cover;
}
.h-content-card--image--4 {
    background: url(/img/4.svg) no-repeat center / cover;
}
.h-content-card--image--5 {
    background: url(/img/5.svg) no-repeat center / cover;
}
.h-content-card--image--6 {
    background: url(/img/6.svg) no-repeat center / cover;
}
.h-content-card--image--7 {
    background: url(/img/7.svg) no-repeat center / cover;
}
.h-content-card--image--8 {
    background: url(/img/8.svg) no-repeat center / cover;
}
.h-content-card--image--9 {
    background: url(/img/9.svg) no-repeat center / cover;
}
.h-content-card--image--10 {
    background: url(/img/10.svg) no-repeat center / cover;
}
.h-content-card--image--11 {
    background: url(/img/11.svg) no-repeat center / cover;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}
.h-card-heading--white {
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 18px;
    margin: 0;
    display: flex;
    flex: 1;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 14px 15px 14px;
}
.footer-text {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 14px;
}
.footer-icon {
    display: inline-block;
    background-color: #FFFFFF;
    width: 18px;
    height: 4px;
    -webkit-mask: url(/icon/🌈\ COLOR.svg) no-repeat center / contain;
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-areas: 
        "navigation"
        "h-content";
        grid-template-columns: auto;
        grid-template-rows: 114px auto;
    }
    .header,
    .navigation__container,
    .navigation__account {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        border-radius: none;
    }
    .h-content {
        margin: 0 auto;
    }
    .h-content-container {
        margin-top: 25px;
        align-items: center;
        
    } 
  
   
    
} 



/* body {
font-family: inter, sans-serif;
}
.navigation-bar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(202, 197, 197);
}
.navigation-menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
   
}
.dropdown {
    display: none;
    position: relative;
    padding: 10px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(12, 138, 98);
    right: 0;
    top: 100%;
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
}
.dropdown-burger {
   
    height: 30px;
    width: 30px;
    background-color: red;
    mask: url(img/menu-icon.svg) no-repeat center / contain;
    -webkit-mask: url(img/menu-icon.svg) no-repeat center / contain;
    cursor: pointer;
}
.dropdown:hover .dropdown-burger {
    background-color: rgb(116, 65, 65);
}
.dropdown:hover .dropdown-menu {
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation-menu {
        display: none;
    }
    .dropdown {
        display: block;
    }
} */
