body,
html {
    height: 100vh;
    font-family: "Inter",sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(181.29deg, #050505 25.32%, #770019 96.27%);
}
button {
    cursor: pointer;
}
.with-layout {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 960px;
}

.heading {
    padding: 60px 0;
    text-align: center;
}

.container {
    
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    padding: 50px 54px 54px 54px;
}
.button-small {
    min-width: 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    font-size: 10px;
    line-height: 120%;
    padding: 10px 0;
}

.button-layout {
    display: flex;
    gap: 10px;
}

.button-layout .button-small {
    flex-grow: 1;
}
.button-primary {
    color: #fff;
    background-color: #FF0036;
    box-shadow: 0px 3px 5px rgba(255, 0, 54, 0.2);
}
.button-secondary {
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    color: #050505;
}
.button-small:hover {
    opacity: 0,8;
}
.password-login {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
    width: 204px;
}
.login-block {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}
.login-block .link {
    align-self: flex-end;
}
.link {
    font-size: 10px;
    line-height: 120%;
    color: #FF0036;
}
.link:hover {
    opacity: 0,8;
}
.login-input {
    background: linear-gradient(180deg, rgba(5, 5, 5, 0.04) 0%, rgba(5, 5, 5, 0) 100%);
    border: 0;
    border-bottom: 1px solid #FF0036;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    line-height: 120%;
    padding: 16px 10px;
    color: #050505;
}

.login-input::placeholder {
    opacity: 1;
    color: #050505;
}
.login-input:focus {
    /* outline: 2px solid rgb(188, 145, 145); */
   /* outline-offset: 3px; */
    outline: 0;
    background: linear-gradient(180deg, rgba(5, 5, 5, 0.08) 0%, rgba(5, 5, 5, 0,04) 100%);
}

.input-list {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}
.button-medium  {
    min-width: 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    line-height: 120%;
    padding: 14px 0;

}
.card-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.or-label {
    align-self: center;
    font-size: 16px;
    line-height: 120%;
    color: #050505;
}

.social-login {
    display: flex;
    justify-content: space-between;
    max-width: 204px;
    width: 100%;
    align-self: center;
}
.social-login img {
    width: 30px;
    height: 30px;
    flex-grow: 0;
}
.social-button {
    width: 45px;
    height: 45px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    cursor: pointer;
}
.smaller-icon {
    width: 25px;
    height: 25px;
}

.foot {
    color: #fff;
    font-size: 12px;
    line-height: 120%;
}
.mainfooter {
    display: flex;
    align-self: center;
    gap: 10px;justify-content: space-between;
    padding: 20px 26px;
}

.card-header {
    display: none;
    margin: 0;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 40px;
}

.cover {
    display: none;
}

@media only screen and (min-width: 768px) {
    .heading {
        text-align: left;
    }
    .container {
        padding: 70px 92px 92px 100px;
    
    }
    .card-header {
        display: block;
    }
    .card-content {
        flex-direction: row;
        column-gap: 20px;
    }
    .input-cover {
        display: flex;
        justify-content: space-between;
        
    }

    .social-login {
        flex-direction: column;
        gap: 15px;
        width: auto;
    }
  
    .cover {
        display: flex;
    }

    .mainfooter {
        justify-content: flex-end;
        
    }
}
    

   
  
  
   
    
 

