body {
    background-color: rgb(31, 59, 31);
}
header, 
main {
    color: aliceblue;
    text-align: center;
}

span {
    background-color: rgb(229, 148, 148);
}

label span {
    font-size: 14px;
    background-color: inherit;
}

label, 
input, 
textarea {
    display: block;
    margin: 0 auto;
    outline: none;
}

textarea {
    resize: vertical;
}

section, 
input[type="submit"] {
    margin-top: 10px;
}

input[type="checkbox"],
input[type="checkbox"] + label {
    display: inline;
}

input[type="submit"] {
    background-color: rgb(24, 113, 72);
    border-color: grey;
}

input[type="text"]:read-only {
    background-color: rgb(144, 141, 141);
}

input:required {
    border: 3px solid red;
    border-left: 3px solid pink;
}

input[type="number"]:out-of-range,
input[required]:invalid {
    border: 3px solid red;
}

input[type="number"]:in-range,
input[required]:valid {
    border: 3px solid green;
}

input:checked + label {
    color: blue;
}

input[type="submit"]:hover {
    background-color: black;
    color: aliceblue;
}





