* {
    box-sizing: content-box;
}

body {
    margin: 0;
}

header,
footer {
    background-color: rgb(239, 164, 155);
}

a {
   color: white;
   text-decoration: none; 
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    width: 50px;
}

header ul {
    display: flex;
    list-style: none;
}

section {
    margin: 0 auto;
    border-bottom: 1px solid black;
}



h1,
h2,
p {
    margin: 0;
}

h2 {
    padding-top: 20px;
}

.art-house,
.stock-art {
    background-color:rgb(188, 188, 163);
}

.bad-art {
    background-color: rgb(248, 231, 209);
}

.art-house img {
    width: 250px;
    float: right;
}

.stock-art-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stock-art img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

footer {
    text-align: center;
}